.maincards{
    padding-top: 150px;
    padding-bottom: 80px;
}

.allcards{
    display: flex;
    margin-left: 250px;
    flex-wrap: wrap;
}

.allcards>div{
    margin: 10px 30px;
}

.desText{
    padding: 10px;
}

.topImage{
    max-width: 370px;
    padding: 10px 10px;
    border-radius: 30px;
    opacity: 0.7;
}

.topImage1{
    max-width: 370px;
    padding: 10px 10px;
    border-radius: 30px;
}

.cards{
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: #27104e;
    max-width: 400px;
    border-radius: 30px;
    border: 2px solid #471c91;
}

.maincards{
    background-color: #34166d;
}

.titleName{
    padding-top: 10px;
    font-size: 30px;
    color: white;
    font-weight: 700;
    padding-bottom: 10px;
}

.desText{
    padding-top: 10px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    padding-bottom: 10px;
}

.mintnft{
    color: white;
    font-size: 30px;
    font-weight: 900;
    max-width: 300px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #ddacf527;
    border: 2px solid #ddacf500;
    transition: border 250ms;
}

.mintnft:hover{
    transition: border 250ms;
    border: 2px solid #ddacf5;
    cursor: pointer;
}