.walletModal{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    transition: border 250ms;
}

.wallet{
    font-size: 20px;
    font-weight: 700;
}

.disconnect{
    font-size: 20px;
    font-weight: 700;
    background-color: #5f28be;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #3a1679;
    transition: border 250ms;
}

.disconnect:hover{
    transition: border 250ms;
    border: 2px solid #7f35ff;
    cursor: pointer;
}

.account{
    margin: 2px 8px;
    font-size: 30px;
    font-weight: 800;
}

.accountCarrier{
    background-color: #3818706b;
    border: 2px solid #9558ff65;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 70px;
    margin-bottom: 10px
}

.contents{
    display: flex;
    border-bottom: 1px solid #9558ff65;
    padding-top: 20px;
}

.myLnads{
    padding-top: 10px;
    border-bottom: 1px solid #9558ff65;
    bottom: 5px;
}

.imageLandbal{
    max-width: 120px;
    border-radius: 15px;
}

.commonLand{
    display: flex;
    justify-content: space-between;
}

.rlandname{
    padding-right: 35px;
}

.rlandcount{
    padding-right: 15px;
}
.baltitle{
    display: flex;
    font-size: 20px;
    padding-top: 5px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid #9558ff65;
    justify-content: space-between;
}

.imgTitle{
    padding-left: 30px;
}

.counttitle{
    padding-left: 50px;
}

.NameTitle{
    padding-left: 90px;
}

.totpricetitle{
    padding-left: 30px;
}

.allLands{
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #9558ff65;
}

.nobala{
    margin-bottom: 10px;
    border-bottom: 1px solid #9558ff65;
}

.thereisno{
    font-size: 30px;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Landpetsbtn{
    display: flex;
    align-items: center;
}

.alldet{
    display: flex;
}

.Landpetsbtn > div{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 30px;
    font-weight: 760;
    background-color: #9558ff65;
    border-radius: 20px;
    transition: border 250ms;
    border: 2px solid #7e2d8600;
}

.Landpetsbtn > div:hover{
    border: 2px solid #7f2d86;
    transition: border 250ms;
    cursor: pointer;
}

.titlewc{
    font-weight: 700;
}

.commonwcinput{
    padding-left: 10px;
}

.inu{
    padding: 5px 5px;
    width: 25%;
    background-color: #a36eff;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: white;
}

.wccontainer>div{
    padding: 10px 10px;
}

.approveButton{
    background-color: #7f2d86;
    margin-right: 80%;
    margin-left: 10px;
    border-radius: 10px;
    transition: background-color 250ms;
    font-size: 20px;
    font-weight: 600;
}

.approveButton:hover{
    background-color: #df51ec;
    transition: background-color 250ms;
    cursor: pointer;
}